@{
    ViewBag.Title = "Home";
}

@model BookListViewModel 

<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul>
                @foreach (var x in Model.Books)
                {
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-1">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-1">@x.Title</h5>
                                <p class="font-italic text-muted mb-0 small">@x.AuthorLastName, @x.AuthorFirstName</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h3 class="font-weight-bold my-1">$@x.Price</h3>
                                </div>
                                <p style="float: right;">Publisher: @x.Publisher, ISBN: @x.Isbn, @x.Pages pages</p>
                                <span class="badge" style="float:left;">@x.Classification</span>
                                <span class="badge" style="float:left;">@x.Category</span>
                            </div>
                        </div> <!-- End -->
                    </li>
                    <br />
                    <br />
                }
            </ul> <!-- End -->
        </div>
    </div>
</div>

<div page-model="@Model.PagingInfo" page-action="Index" page-class-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

